body{
    display: flex;
    background: linear-gradient(to right, rgb(0, 0, 42), rgb(0, 0, 93) , rgb(0, 0, 139),rgb(2, 2, 189), rgb(0,0,139),rgb(0, 0, 93) ,rgb(0, 0, 42));
}

h3{
    margin-top: 10px;
    margin-bottom: 13px;
    font-size: 60px;
    background:none;
    background-clip: text;
    -webkit-text-fill-color: transparent;
    -webkit-text-stroke-width:1px;
    -webkit-text-stroke-color: white;
}

form{
    margin-top: 12px;
    font-size: xx-large;
}

label{
    margin: 25px;
}
button{
    height: 38px;
    width: 78px;
    font-size: large;
    border-radius: 7px;
}

input{
    height: 20px;
    vertical-align: middle;
    border-radius: 7px;
}

#signupBox{
    width: fit-content;
    text-align: center;
    margin-left: auto;
    margin-right: auto;
    margin-top: 24px;
    border: ridge 4px rgb(252, 254, 255) ;
    padding: 10px;
    background-color: rgba(91, 135, 135, 0.499);
    
}

#passwordValidation {
    display: flex;
    height: 10vh;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
}

#passwordValidation p{
    font-size: small;
    padding: 5px;
    text-align: left;
    margin-left:32px;
    border: 2px solid black;
    width: fit-content;
    margin-bottom: 1px;
    margin-top: 2px;
    border-left-width: 3px;
    border-left-color: black;
    background: rgba(0, 0, 0, 0.301);
    color: white;
}

#ConfirmpwdMatching p{
    font-size: small;
    border: 3px solid rgb(0, 0, 0);
    background: rgba(0, 0, 0, 0.301);
    color: white;
    border-radius: 3px;
    height: 21px;
    width: 400px;
    padding: 7px;
    text-align: center;
    font-size: medium;
    margin-left: 25px;
    margin-top: 5px;
}

#PasswordValidationNConfirmpwdMatching{
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    width: 416px ;
    height: 19vh;
    align-items: stretch;
}